.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: tomato;
      z-index: 2;
   }
   &__body {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 80px;
      align-items: center;
   }

   &__logo {
   }

   &__burger {
      display: none;
   }

   &__menu {

   }

   &__list {
      display: flex;
      li {
         margin: 0px 0px 0px 20px;
      }
   }

   &__link {
      color: white;
   }
   @media (max-width: 767px) {
      &__burger {
         display: block;
         position: relative;
         width: 30px;
         height: 20px;
         z-index: 3;

         &::before,&::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
         }
         &::before{
            top: 0;
         }
         &::after{
            bottom: 0;
         }
         span{
            position: absolute;
            top: 9px;
            width: 100%;
            height: 2px;
            background-color: #fff;
         }
      }
      &__menu{
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgb(13, 61, 29);
      }
   }
}
.logo {
   z-index: 3;
   flex: 0 0 100px;
}
