.main {
	padding: 136px 0px 152px 0px;
	background-color: rgb(231, 13, 13);

	&__body {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__body-text {
		flex: 0 1 41.46%;
		font-size: 86px;

		span {
			color: rgb(250, 246, 246);
		}
		p {
			font-size: 20px;
			line-height: 28px;
			font-weight: 400;
			letter-spacing: -0.02em;
		}
		h2 {
			font-family: Montserrat;
			color: #130e27;
			line-height: 75px;
			font-weight: 700;
			letter-spacing: -0.02em;
			padding-bottom: 30px;
		}
	}
	&__body-form {
		padding: 30px 24px 0px 24px;
		display: flex;
		flex-direction: column;
		width: 34.2%;
		text-align: center;
		position: absolute;
		right: 104px;
		top: -25px;
		border: 1px solid #000;
		box-shadow: 2px 2px 2px;
		border-radius: 4px;
		background-color: #fff;
		:nth-child(6) {
			position: relative;
			width: 95%;
			margin: 27px auto;
			text-align: left;
			font-size: 20px;
			line-height: 25px;
			font-weight: 400;
			letter-spacing: -0.02em;
			color: #130e27;
			padding-left: 40px;
			input {
				position: absolute;
				width: 20px;
				height: 20px;
				top: 3px;
				left: -7px;
				margin: 0;
			}
		}
		:nth-child(1) {
			font-family: Montserrat;
			padding-bottom: 37px;
			font-size: 22px;
			line-height: 1.2;
			font-weight: 700;
			letter-spacing: -0.02em;
		}
		:nth-child(7) {
			background-color: #c62314;
			border-radius: 10px;
			font-family: Montserrat;
			font-size: 22px;
			line-height: 1.2;
			font-weight: 400;
			letter-spacing: -0.02em;
			color: #ffffff;
		}

		input {
			width: 95%;
			margin: auto;
			margin-bottom: 13px;
			padding: 19px 0px;
		}
		::placeholder {
			padding: 0px 0px 0px 19px;
			font-size: 20px;
			line-height: 25px;
			font-weight: 400;
			letter-spacing: -0.02em;
			color: #b5b5b5;
		}
	}
}
