.main {

   background-color: rgb(231, 13, 13);

   &__body {
      display: flex;
      justify-content: space-between;
      position: relative;
   }

   &__body-text {
      flex: 0 1 45%;
      font-size: 90px;
      color: #000;
      padding-bottom: 40px;
      span{
         font-size: 90px;
         color: rgb(250, 246, 246);
         display: block;
      }
      p{
         padding-top: 50px;
         font-size: 20px;
      }
   }
   &__body-form {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: absolute;
      right: 0;
      top: 80px;
      padding: 30px 10px 30px 10px;
      border: 1px solid #000;
      box-shadow:2px 2px 2px ;
      border-radius: 4px;
      flex:1 1 30% ;
      background-color: #fff;
      height: 100%;
      input{         border: 1px solid #000;
         margin-bottom: 10px;
         padding: 10px 50px 10px 10px;
         color: rgba(75, 251, 6, 0.74);
         background-color: #a58888;

      }
      p:nth-child(1){margin: 0px 0px 20px 0px;
      }
      p:nth-child(6){margin: 10px;
         input{
         margin: 0px 10px 10px 0px;
         }
      }
      p:nth-child(7){
         input{
            display: flex;
            width: 100%;
            justify-content: center;
         background-color: #d92211;
         padding:10px 0;
         text-decoration: uppercase;

         }

      }
   }

}

